body {
  margin: 0;
}

main {
  flex: 1;
  background-color: #444;
}

footer {
  padding: 0.5em;
  font-family: 'Karla', sans-serif;
  color: #fff;
  background-color: #222;
  text-align: center;
}

h2 {
  font-family: 'Karla', sans-serif;
  font-size: 48;
}

h3 {
  font-family: 'Karla', sans-serif;
  font-size: 28;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.quotes {
  margin: auto;
  margin-top: 2em;
  text-align: center;
  background-color: white;
  width: 600px;
  padding: 2em;
}

#content {
  font-family: 'Marck Script', cursive;
  font-size: 32px;
}

#author {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: darkgoldenrod;
}

#tag {
  font-size: 13px;
}
